.date-picker-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .date-picker-input {
    padding: 8px;
    font-size: 16px;
  }
  
  .date-picker-button {
    padding: 10px 20px;
    background-color: #00bbd4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .date-picker-button:hover {
    background-color: #0086d4;
  }
  