
.App {
  text-align: center;
  padding: 50px;
  /*background: linear-gradient(to right, #b300ff, #cc0d7d);*/
  background: linear-gradient(to bottom left, #cc0d7d, #00beff);
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .countdown-timer {
    flex-direction: column;
  }
}